<header class="bg-image">
	<div class="container">
		<div class="text-center">
			<h1 class="display-4">Contabilidad para pymes</h1>
			<p class="header display-6">Con Backstartup tendrás un contador y un software contable, todo en
				un mismo lugar.</p>
		</div>
	</div>
</header>
<div class="container">
	<div class="first-square">
		<span class="title">
			Iluminamos tu camino, para que tomes decisiones inteligentes
		</span>
		<div class="sqr">
			<p>
				Contadores dedicados, solo para tu empresa.
				Tu nuevo equipo de contabilidad en línea hace estados financieros, reportes, balances y
				análisis financiero sobre tu empresa mes a mes.
				Los contadores de Backstartup trabajan internamente y responden a tus solicitudes en
				tiempo real.
			</p>
			<img class="image-large"
				src="https://global-uploads.webflow.com/5d5c27bb091c3d28b47f2b89/5ea88b6c70f2a3e6b90254b5_banners-Ilustracio%CC%81n-p-500.png" />
		</div>
	</div>
	<hr>
	<div class="container">
		<span class="title" style="color: #00909e">
			Una historia llamada Backstartup
		</span>

		<div class="row" style="height: 400px;">
			<div class="col align-self-start">
				<span class="lttl">
					BackStartup es un emprendimiento latinoamericano que está a la vanguardia de la
					transformación
					digital de la industria legal y contable.
				</span>
			</div>
			<div class="col align-self-center">
				<span class="lttl" >

					Iniciamos operaciones en 2014 en Colombia y nos expandimos al mercado mexicano
					en julio de 2016.
					Actualmente contamos con más de 1,000 empresas dadas de alta en nuestra
					plataforma y cerca de
					300 compañías premium de múltiples industrias.
				</span>
			</div>
			<div class="col align-self-end">
				<span class="lttl">

					Seguimos creciendo y con nosotros crecen miles de emprendedores y pymes que
					quieren cambiar el
					mundo con sus grandes ideas.
				</span>
			</div>
		</div>

	</div>
</div>