<header class="bg-image">
	<div class="container">
		<div class="text-center">
			<h1 class="display-4">Contabilidad para pymes</h1>
			<p class="header display-6">Con Backstartup tendrás un contador y un software contable, todo en
				un mismo lugar.</p>
		</div>
	</div>
</header>
<div class="container">
	<div class="first-square">
		<span class="title">
			Iluminamos tu camino, para que tomes decisiones inteligentes
		</span>
		<div class="sqr">
			<p>
				Contadores dedicados, solo para tu empresa.
				Tu nuevo equipo de contabilidad en línea hace estados financieros, reportes, balances y
				análisis financiero sobre tu empresa mes a mes.
				Los contadores de Backstartup trabajan internamente y responden a tus solicitudes en
				tiempo real.
			</p>
			<img class="image-large"
				src="https://global-uploads.webflow.com/5d5c27bb091c3d28b47f2b89/5ea88b6c70f2a3e6b90254b5_banners-Ilustracio%CC%81n-p-500.png" />
		</div>
	</div>
	<div class="container" style="margin-top: 20px;">
		<span class="title" style="color: #00909e;">
			Una historia llamada Backstartup
		</span>

		<div class="row" style="height: 400px; margin-top: 20px;">
			<div class="col align-self-start">
				<span class="lttl">
					BackStartup es un emprendimiento latinoamericano que está a la vanguardia de la
					transformación
					digital de la industria legal y contable.
				</span>
			</div>
			<div class="col align-self-center">
				<span class="lttl">

					Iniciamos operaciones en 2014 en Colombia y nos expandimos al mercado mexicano
					en julio de 2016.
					Actualmente contamos con más de 1,000 empresas dadas de alta en nuestra
					plataforma y cerca de
					300 compañías premium de múltiples industrias.
				</span>
			</div>
			<div class="col align-self-end">
				<span class="lttl">

					Seguimos creciendo y con nosotros crecen miles de emprendedores y pymes que
					quieren cambiar el
					mundo con sus grandes ideas.
				</span>
			</div>
		</div>

	</div>
	<div class="profiles">
		<div class="profile">
			<a href="https://www.linkedin.com/in/cristianvillamizar/" target="_blank">
				<div class="avatar"
					style="background-image:url(https://global-uploads.webflow.com/5d5c27bb091c3d28b47f2b89/5d6d3279d05eb910494415de_nosotros-4.png)">
				</div>
			</a>
			<div class="wrrpr">
				<span class="name">Cristian <br>Villamizar</span>
				<span class="role">Chief Revenue Officer</span>
			</div>
		</div>
		<div class="profile">
			<a href="https://www.linkedin.com/in/diegopenuela/" target="_blank">
				<div class="avatar"
					style="background-image:url(https://global-uploads.webflow.com/5d5c27bb091c3d28b47f2b89/5d6d237185adc99aa6144012_nosotros-3.png)">
				</div>
			</a>
			<div class="wrrpr">

				<span class="name">Diego <br>Peñuela</span>
				<span class="role">Chief Technology Officer</span>
			</div>
		</div>
		<div class="profile">
			<a href="https://www.linkedin.com/in/juana-barco/" target="_blank">
				<div class="avatar"
					style="background-image: url(https://global-uploads.webflow.com/5d5c27bb091c3d28b47f2b89/5d6d3322a3a53e7187063b94_nosotros-5.png)">
				</div>
			</a>
			<div class="wrrpr">
				<span class="name">Juana <br>Barco</span>
				<span class="role">Chief Executive Officer</span>
			</div>
		</div>
		<div class="profile">
			<a href="https://www.linkedin.com/in/adriana-villamizar/" target="_blank">
				<div class="avatar"
					style="background-image:url(https://global-uploads.webflow.com/5d5c27bb091c3d28b47f2b89/5d6d3516b742b760a24e0285_nosotros-6.png)">
				</div>
			</a>
			<div class="wrrpr">
				<span class="name">Adriana <br>Villamizar</span>
				<span class="role">Chief Operations Officer</span>
			</div>
		</div>
	</div>
</div>
