<nav class="navbar navbar-expand-lg fixed-top navbar-dark"
	style="background-color:#142850; box-shadow: 0 1px 8px 2px rgba(0,0,0,.5);">
	<a class="navbar-brand" href="#"><img
			src="https://global-uploads.webflow.com/5d5c27bb091c3d28b47f2b89/5ec55a31d62b205e2d15d3ea_contabilidad.png"
			width="168" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " routerLink="/about">Sobre nosotros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " routerLink="/staff">Empleados</a>
			</li>
		</ul>
	</div>
</nav>

<!-- Page Content -->

<router-outlet></router-outlet>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
	<div class="container text-center">
		<a href="https://www.instagram.com/one_more_dev/" target="_blank"><i class="fa fa-instagram"></i></a>
		<a href="https://github.com/nsforero10" target="_blank"><i class="fa fa-github-alt"></i></a>
		<a href="https://twitter.com/nico_forero" target="_blank"><i class="fa fa-twitter"></i></a>
		<br>
		<small>Made with ❤ by Nicodev</small>
	</div>
</footer>