<section class="main">
	<div class="background"></div>
	<div class="row home-details-container align-items-center">
		<div class="col-lg-4 position-fixed d-none d-lg-block image"></div>
		<div class="col-12 col-lg-8 offset-lg-4 home-details text-left text-sm-center text-lg-left">
			<div>
				<h6 class="greeting mb-0 d-block d-sm-none d-lg-block">HOLA !</h6>
				<h1 class="poppins-font">
					<span> SOY</span>
					NICOLÁS FORERO
				</h1>
				<p>
					Soy Fullstack Software Engineer, apasionado por el desarrollo mobil, desarrollo front-end y diseño
					web, enfocado en construir experiencias limpias y amigables.
					Busco construir software de calidad, para facilitar la vida del usuario.
				</p>
				<a href="https://www.instagram.com/one_more_dev/" target="_blank"><i class="fa fa-instagram"></i></a>
				<a href="https://github.com/nsforero10" target="_blank"><i class="fa fa-github-alt"></i></a>
				<a href="https://twitter.com/nico_forero" target="_blank"><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</section>
<!-- <header class="bg-image">
	<div class="container">
		<div class="text-center center-items">
			<div class="avatar"></div>
			<h1 class="display-4">NICOLAS FORERO</h1>
			<small class="text-white">nicodev</small>
			<p class="header display-6"></p>
		</div>
	</div>
</header> -->